<html>
  <body>
  <h2>Записаться</h2>
  <p>На этой странице вы можете записаться к нам в Barber Shop</p>
  <form action="/visit" method="POST" role="form">
    <div class="form-group">
      <label>Ваше имя</label>
      <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
    </div>
    <div class="form-group">
      <label>Телефон</label>
      <input name="phone" type="test" class="form-control" placeholder="Ваш телефон">
    </div>
    <div class="form-group">
      <label>Когда вас ждать</label>
      <input name="datetime" type="test" class="form-control" placeholder="Введите дату и время">
    </div>
    <div class="form-group">
      <label>Ваш мастер-парикмахер</label>
      <select name="master "class="form-control">
        <option></option>
        <option>Вася</option>
        <option>Петя</option>
        <option>Даша</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Записаться</button>
  </form>
  </body>
</html>
